{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }} mb-3">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endfor %}
<div class=" h-[calc(100vh-340px)] flex justify-center items-center">
   
    <form method="post" class="w-[500px] p-10  rounded shadow flex flex-col gap-5 ">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="text-center text-2xl font-bold">Connexion</h1>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="input input-bordered input-info w-full" autocomplete="email" required autofocus>
        <input type="password" name="_password" id="password" class="input input-bordered input-info w-full" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <form class="checkbox mb-3">
                <form type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </form>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
        <a href="{{path('app_register')}}">S'inscrire</a>
    </form>
</div>
{% endblock %}
